In [1]:
import numpy as np
import pandas as pd 
import math as m 
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
df = pd.read_csv('BaseDeDonnées/test2.csv',sep =',')

df

,tir,NO_MEN,tailmng,NO_DEPL,zoneres.x,jourdepl,TYPE_HAB,TYPE_OCU,Gare2,Gare5,...,id_traj,nb_pers,nbd,ntraj,btt,mode_V2,Couteff,mode_depl_ag,freqtcu2,car_ownership
0,101,12,1,1,3,4,4,3,38,38185,...,NaN,1,6,NaN,100.0,MAP,0.00000,MAP,2.0,NaN
1,101,12,1,2,3,4,4,3,38,38185,...,NaN,1,6,NaN,100.0,MAP,0.00000,MAP,2.0,NaN
2,101,12,1,3,3,4,4,3,38,38185,...,NaN,1,6,NaN,100.0,MAP,0.00000,MAP,2.0,NaN
3,101,12,1,4,3,4,4,3,38,38185,...,NaN,1,6,NaN,100.0,MAP,0.00000,MAP,2.0,NaN
4,101,12,1,5,3,4,4,3,38,38185,...,NaN,1,6,NaN,100.0,MAP,0.00000,MAP,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30697,903,122,1,2,5,2,2,1,38,38563,...,NaN,2,4,NaN,120.0,MAP,0.00000,MAP,5.0,NaN
30698,903,122,1,3,5,2,2,1,38,38563,...,NaN,2,4,NaN,120.0,MAP,0.00000,MAP,5.0,NaN
30699,903,122,1,4,5,2,2,1,38,38563,...,NaN,2,4,NaN,120.0,MAP,0.00000,MAP,5.0,NaN
30700,903,122,2,1,5,2,2,1,38,38563,...,9.031220e+11,2,2,1.0,20.0,VP,0.49191,VP,5.0,NaN
30701,903,122,2,2,5,2,2,1,38,38563,...,9.031220e+11,2,2,1.0,20.0,VP,0.49191,VP,5.0,NaN